# Node.js
node_modules/
npm-debug.log
yarn-error.log

*/node_modules/

# Entornos
.env

# Carpeta de logs
logs/
*.log

# Archivos de compilación
dist/
build/
coverage/

# Docker
*.dockerfile
*.tar

# IDEs y editores
.idea/
.vscode/
*.swp
.DS_Store

# Pruebas
coverage/
*.test.js
*.spec.js

# Archivos temporales
tmp/
temp/